<p>
<%= form_for(@meetup) do |f| %>
<p>
<%= f.label :event_name %>
<%= f.text_field :event_name %><br><br>
</p>

<p>
<%= f.label :description %>
<%= f.text_area :description %><br><br>
</p>

<p>
<%= f.label :location %>
<%= f.text_field :location %><br><br>
</p>

<p>
<%= f.label :date_time%>
<%= f.datetime_select :date_time, :order => [:month, :day] %><br><br>
</p>

<p>
<%= f.label :resort_id %>
<%= f.collection_select(:resort_id, Resort.all, :id, :resort_name) %><br><br>
</p>

<p><%= f.submit %><p>

<% end %>
</p>