<h4 align= 'center'><%= @resort.resort_name %></h4><br>
<div align= 'center'>
<p>
<% if @resort.location %>
<strong>Location:</strong> <%= @resort.location %></p>
<p>
<% end %>
<strong>Map:</strong> <%= "MAP INFO" %> GOOGLE MAP?</p>
<p>
<strong>Weather: </strong> <%= "WEATHER INFO" %></p>
<p>
<strong>Population: </strong><%= @resort.population%></p>
<p>
</div>
<img src= <%= @resort.piste_map %> width = 90%></p>
<p>
<strong>Meetups happening here:</strong>
<% @resort.meetups.each do |meetup| %>
<ul>
<li><%= link_to meetup.event_name, meetup_path(meetup.id) %></li>
</ul>
<% end %>

<strong>Reviews:</strong>
<% @resort.reviews.each do |review| %>
<ul>
<li><%= link_to review.title, review_path(review.id) %> - <%= link_to review.user.full_name, user_path(review.user) %>, <%= review.rating %></li>
</ul>
<% end %>
<%= link_to "All Meetups", meetups_path %> |
<%= link_to "All Resorts", resorts_path %>

<h3>PUT LINKS TO ALL MEETUPS ETC IN NAV BAR - REMOVE LINKS AT BUTTOM </h3>